
/* Fonts */

.brand-font {
   font-family: var(--brand-font);
}

.letter-sp-1 {
   letter-spacing: 0.1rem;
}



/* Images */

.img-container {
   display: flex;
}

.img-container > img {
   width: 100%;
}




/* Backgrounds */

.parallax {
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   backdrop-filter: blur(1rem);
}

.darker-parallax {
   background-color: var(--black);
   background-blend-mode: color-dodge;
}

.dark-parallax {
   background-color: rgba(0, 0, 0, 0.55);
   background-blend-mode: color-dodge;
}

.bg-img-1 {
   background-image: url('../images/section-1.webp');
}

.bg-img-2 {
   background-image: url('../images/section-2.webp');
}

.bg-img-3 {
   background-image: url('../images/section-3.jpg');
}

.bg-yellow {
   background-color: rgb(224, 164, 0)!important;
}

.bg-body {
   background-color: #2d3238;
}

.bg-section {
   background-color: rgba(0, 0, 0, 0.9)!important;
}



/* Sections */

.header-section {
   min-height: calc(100vh - 7.6rem);

   display: flex;
   flex-direction: column;
   justify-content: center;
}



/* Lists */

.list {
   list-style: circle!important;

   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.list > li {
   list-style: inherit;
}